﻿@model Accelist.TC.WebDatabase.Models.RegisterViewModel

<div class="row">
    <form asp-action="Register" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Register</button>
        </div>
    </form>
</div>