﻿@model Accelist.TC.WebDatabase.Models.LoginViewModel

<div class="row">
    <form asp-action="Login" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="RememberMe" class="control-label"></label>
            <input asp-for="RememberMe" class="checkbox-inline" />
        </div>
        <div class="form-group">
            <a asp-action="Index" asp-controller="Register" class="btn btn-link">Not a member?</a>
            <button type="submit" class="btn btn-block btn-primary">Login</button>
        </div>
    </form>
</div>