﻿@model Accelist.TC.WebDatabase.Models.PlayerViewModel

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>
            Hi @Model.Email
            <a asp-action="Logout" asp-controller="Login" class="btn btn-link">Logout</a>
        </h1>
        <h2>
            Your game list:
        </h2>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Release Date</th>
                        <th>Cover</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="VideoGameList">
                    @{
                        var i = 1;
                        if (Model.VideoGames.Count == 0)
                        {
                            <tr>
                                <td colspan="7" class="text-center">
                                    Sorry, but you don't have any video game right now
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var game in Model.VideoGames)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@game.Name</td>
                                    <td>@game.Price</td>
                                    <td>@game.ReleaseDate.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        <img src="@Url.Action("GetVideoGameImage", "VideoGame", new { id = game.VideoGameId })" />
                                    </td>
                                    <td>
                                        <a href="/VideoGame/Edit/@game.VideoGameId" class="btn btn-success">
                                            Edit
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/VideoGame/Delete/@game.VideoGameId" class="btn btn-danger">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="pagination">
            @{
                for (int j = 1; j <= Model.TotalPage; j++)
                {
                    <li>
                        <a href="#" id="page-btn-@j" page-number="@j">
                            @j
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="/VideoGame/Add" target="_blank" class="btn btn-default">
            Add Video Game
        </a>
    </div>
</div>