﻿@model Accelist.TC.WebDatabase.Models.CreateVideoGameViewModel

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form asp-action="Add" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" type="date"/>
                <span asp-validation-for="ReleaseDate"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" />
                <span asp-validation-for="Image"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">
                    Add New Game
                </button>
            </div>
        </form>
    </div>
</div>